* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  background-color: #ededed;
}

.draggable {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}

